a{ color: black;
    border-style:solid;
    border-width: 1px 4px 4px 1px;
    text-decoration: none;
    padding: 4px;
    border-color: lightblue darkblue darkblue lightblue;
}
    a:visited {color: grey}
    a:hover{color:darkblue; font-weight:bold;}
    a:active{color:lightblue; text-decoration:none;}

address {
    color:grey;
}

h1 {
    font-family:Arial, Helvetica, sans-serif;
}
